framework: auto-detect
source https://nuget.org/api/v2

nuget FSharp.Core ~> 4.0.0.1

group Build
  source https://nuget.org/api/v2
  framework: auto-detect
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  framework: auto-detect
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
  nuget FsCheck